*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    background:#111827;

    color:white;

}

header{

    background:#1f2937;

    padding:25px;

    text-align:center;

}

nav{

    margin-top:15px;

}

nav a{

    color:white;

    text-decoration:none;

    margin:15px;

}

.hero{

    text-align:center;

    padding:70px;

}

.button{

    display:inline-block;

    margin-top:25px;

    padding:12px 24px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    border-radius:6px;

}

section{

    width:80%;

    margin:auto;

    padding:60px 0;

}

ul{

    display:flex;

    flex-wrap:wrap;

}

li{

    background:#1f2937;

    margin:10px;

    padding:10px 20px;

    border-radius:8px;

    list-style:none;

}

.card{

    background:#1f2937;

    padding:25px;

    margin:20px 0;

    border-radius:10px;

}

footer{

    text-align:center;

    padding:30px;

    background:#1f2937;

}